VITE_SUPABASE_URL=https://htmuszgpxjkibeoygqns.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0bXVzemdweGpraWJlb3lncW5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNjgyODEsImV4cCI6MjA4ODc0NDI4MX0.SlpkVqhLm_SsE2DQJjNy-TRmPx5giPgSXYyzygXYtYI
